<div id="container">
  
    <h2>Contacto</h2><br>


    <div id="texto" #textos > <!--  --> 
        <p appResaltado>
            Contactanos por cualquier duda
        </p>
    </div>
    <!--
            <span>Tamanio del Slider</span><br>
    
    <p>
        <input type="number" [(ngModel)]='widthSlider' ><br>
        <button (click)="carga()">Carga</button>
        <button (click)="resetear()" [ngStyle]="{'margin-left': '20px'}">Resetear </button>
    </p><br>
    
    <div *ngIf="anchuraToSlider">
        <slider [anchura]="anchuraToSlider"></slider>
    </div>

    -->


</div>
