.altoPrecio{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}
.active{
    border: 5px solid yellow;
}
#caja{
    border-color: black;
    background-color: brown;
    color:white ;
    height: 5%;
    width:15%;
    font-size: 100%;
}