<div [ngStyle]= "{
                'background': config.fondo,
                'padding': '50px',
                'border': '30px solid black',
                'border-color': config.color
}">
  <h1>Hola mundo {{ title }}</h1>

  <p>{{ descripcion }}</p>


  <button (click)="ocultar(false)" *ngIf="ocultar_videojuegos">Ocultar Videojuegos</button>
<button (click)="ocultar(true)" *ngIf="!ocultar_videojuegos">Mostrar Videojuegos</button>

<videojuego *ngIf="ocultar_videojuegos"></videojuego>
  <zapatillas></zapatillas>
  <app-cursos></app-cursos>


 
</div>