
body{
    background: url('../img/hojas.jpg'); /*Para cargar la imagen*/
    background-attachment: fixed;/*Para cargar la imagen en toda la pagina y no quede nada en blanco*/
}

#logo{
    background: darkgreen;
}

#menu ul li:hover{
    background: darkgreen;
}

#more{
    background:darkgreen;
}


